.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 100px;
}
.about-title{
    position: relative;
}   
.about-title h1{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-me-description{
    display: flex;
    gap: 80px;
    
}

.about-me-description .about-left img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* object-fit: cover; */

}
.About-right{
    display: flex;
    flex-direction: column;
    gap: 100px
}
.about-me-info p{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}
.about-skills{
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.about-skills h3{
    font-size: 28px;
    margin-bottom: 10px;     
} 
.about-skill{
    display: flex;
    align-items: center;
    transition: 0.3s;
    gap: 30px;

}
.about-skill p{
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr{  
    border: none;
    outline: none;
    height: 8px;
    width: 50%;
    background: linear-gradient(90deg, #aa3190, #7bfe81);

}
.about-achievments{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 80px;
}
.about-achievments hr{
    display: flex;
}
.achievment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}
.about-achievments .achievment h1{
    font-size: 50px;
    font-weight: 700;
    background: linear-gradient(270deg, #aa3190 50.41%, #7bfe81);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.achievment p{
    font-size: 30px;
    font-weight: 700;
}
.about-skill:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.achievment:hover{
    transform: scale(1.12);
    transition: 0.5s;
}















@media (max-width: 768px) {
    .about-me{
        margin: 40px 20px;
    }
    .about-me img{
        width: 150px;
        height: 150px;
    }
    .about-me h1{
        font-size: 28px;
    }
    .about-me p{
        font-size: 16px;
    }
}

