.about-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 100px;
}
.about-title{
    position: relative;
}   
.about-title h1{
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

.about-me-description{
    display: flex;
    gap: 80px;
    
}

.about-me-description .about-left img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* object-fit: cover; */

}
.About-right{
    display: flex;
    flex-direction: column;
    gap: 80px;
}
.about-me-info p{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 24px;
    font-weight: 500;
}
.about-skills h3{
    font-size: 28px;
    margin-bottom: 10px;
}




















@media (max-width: 768px) {
    .about-me{
        margin: 40px 20px;
    }
    .about-me img{
        width: 150px;
        height: 150px;
    }
    .about-me h1{
        font-size: 28px;
    }
    .about-me p{
        font-size: 16px;
    }
}

