.hero {
    padding: 50px;
    text-align: center;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.hero-text {
    max-width: 600px;
    margin: 0 auto;
}

.hero-text h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.hero-text h1 span {
   background: linear-gradient(90deg, #aa3190, #7bfe81);
   background-clip: text;
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-text p {
    width: 100%;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;

}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    color: white;
    
}
