.hero {
    padding: 50px;
    text-align: center;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.hero-text {
    max-width: 600px;
    margin: 0 auto;
}

.hero-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.hero-text h1 span {
    color: #610755;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.hero-text button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #610755;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #0056b3;
}