.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 40px;
    }
    .navbar img {
    height: 50px;
    /* float: left; */
    /* margin-left: 20px; */
    }
    .nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 10px;
    }
    .nav-links li {
    cursor: pointer;
    }
    .connect {
    padding: 8px 16px;
    border: 1px solid #f5f5f5;
    border-radius: 20px;
    font-size: 10px;
    cursor: pointer;
    }
    .connect:hover {
    background-color: #f5f5f5;
    color: #252323;
    transition: 0.3s;
    }